PORT=3000
DATABASE_URL=postgres://YOUR_USERNAME:YOUR_PASSWORD@localhost:5432/osdag_auth_db
JWT_SECRET=super_secret_jwt_key_example
REDIS_URL=rediss://default:YOUR_UPSTASH_PASSWORD@your-upstash-endpoint.upstash.io:6379


